doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', type='image/x-icon', href='/stylesheets/uv.ico')
  body
    block content
